/* Spacing helpers
---------------------------- */
.no-mg 	 { margin: 0 !important; }
.no-mg-t { margin-top: 0 !important; }
.no-mg-r { margin-right: 0 !important; }
.no-mg-b { margin-bottom: 0 !important; }
.no-mg-l { margin-left: 0 !important; }

.no-pd 	 { padding: 0 !important; }
.no-pd-t { padding-top: 0 !important; }
.no-pd-r { padding-right: 0 !important; }
.no-pd-b { padding-bottom: 0 !important; }
.no-pd-l { padding-left: 0 !important; }

$margins: (40px, 30px, 20px, 10px, 5px);
$margins-names: ("-lg", "-md", "", "-sm", "-xs");

@for $i from 1 through length($margins) {
	$name: nth($margins-names, $i);
	$margin: nth($margins, $i);

	.mg#{$name}   { margin: $margin; }
	.pd#{$name}   { padding: $margin; }

	.mg-t#{$name} { margin-top: $margin; }
	.mg-r#{$name} { margin-right: $margin; }
	.mg-b#{$name} { margin-bottom: $margin; }
	.mg-l#{$name} { margin-left: $margin; }

	.pd-t#{$name} { padding-top: $margin; }
	.pd-r#{$name} { padding-right: $margin; }
	.pd-b#{$name} { padding-bottom: $margin; }
	.pd-l#{$name} { padding-left: $margin; }
}